<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Search – Bertie&apos;s Books</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>

    <h1>Search for a book</h1>

    <form action="/books/search-result" method="GET">
        <p>
            <label for="keyword">Book title:</label>
            <input type="text" id="keyword" name="keyword" required>
        </p>
        <button type="submit">Search</button>
    </form>

    <p><a href="/">Back to home</a></p>

</body>
</html>
